:root {
    --color-background: #f3e6d8;
    --color-text: #5f574e;
    --color-heading: #302d2c;
    --color-accent: #7b284f;
    --color-accent-secondary: #854632;
    --color-border: #e0e0e0;
    --color-card: #fff;

}


body {
    min-height: 100vh;
    background-color: var(--color-background);
    font-family: "Outfit", sans-serif;
    color: var(--color-text);
    margin: 0;

}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8rem 0;
}

h1 {
    font-family: "Young Serif", serif;
    color: var(--color-heading);
}

.hero-img {
    width: 100%;
    height: auto;
    border-radius: 12px;


}

.text-accent {
    color: var(--color-accent);
    font-weight: 600;
    line-height: 1;

}

.macro-accent {
    color:var(--color-accent-secondary);
    font-weight: 700;
    line-height: 1.5;
}

/* card wrapper css */
.card-wrapper {
    width: min(100% - 2rem, 46rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--color-card);
    border-radius: 24px;
    padding: 2.5rem;

}

/* css for instructions section */

.instructions-list {
    padding-left: 1.5rem;
}

/* Individual step styling */
.instructions-list li {
    line-height: 1.6;
    padding-left: 0.5rem;
}

/* Highlight the key action phrases */
.instructions-list li strong {
    font-weight: 700;
  
}
/* custom color for the numbers */
.instructions-list li::marker {
  color: var(--color-accent-secondary); 
  font-weight: bold;
}


/* css to visually hide text in nutrition-table */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* nutrition table layout rules */
.nutrition-table {
    width: 100%;
    border-collapse: collapse;
    gap: 1rem;
}

.nutrition-table td {
    padding: 0.75rem 0; 
    border-bottom: 1px solid #e0e0e0;
}


/* For the bullet lists*/
.bullet-list {
    padding-left: 1.5rem;
    gap: 1rem;
}

/* Individual list item spacing */
.bullet-list li {
    padding-bottom: 0.5rem;
    line-height: 1.6;
    padding-left: 0.5rem;
}

/* Custom bullet color and style */
.bullet-list li::marker {
    color: var(--color-accent-secondary); 
    font-size: 0.8rem; 
}

footer {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    width: 100vw;
}

.attribution { 
    font-size: 0.6875rem; 
    text-align: center;


}
    
    
.attribution a {
    color: hsl(228, 45%, 44%); 
}

.attribution a:hover,
.attribution a:focus {
    color: var(--color-accent);
}

@media (max-width: 600px) {
    
    main {
        padding: 0;
    }
    
    .card-wrapper {
        width: 100%;
        padding: 0 0 2rem;
        border-radius: 0;
    }

    .hero-img {
        border-radius: 0;
    }

    .card-wrapper > :not(.hero-img) {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
/* list of colors used below -

- White: #ffffff

- Stone 100: #f3e6d8
- Stone 150: #e4ded8
- Stone 600: #5f574e
- Stone 900: #302d2c

- Brown 800: #854632

- Rose 800: #7b284f
- Rose 50: #fff5fa

*/