body {
   background-color: white; 
}





.attribution { 
    font-size: 0.6875rem; text-align: center; 
}
    
    
.attribution a {
    color: hsl(228, 45%, 44%); 
}

/* list of colors used below -

- White: #ffffff

- Stone 100: #f3e6d8
- Stone 150: #e4ded8
- Stone 600: #5f574e
- Stone 900: #302d2c

- Brown 800: #854632

- Rose 800: #7b284f
- Rose 50: #fff5fa

*/